
@import './node_modules/bulma/bulma.sass';

$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;

@import 'node_modules/font-awesome/scss/font-awesome.scss';

[v-cloak] { display: none; }

.box-equal-height { height: 100%; }

.very-unique-name { display: flex; justify-content: center; }
