
@import './node_modules/bulma/bulma.sass';

$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;

@import 'node_modules/font-awesome/scss/font-awesome.scss';

.main-content { flex: 1; }

[v-cloak] { display: none; }

.box-equal-height { height: 100%; }

.very-unique-name { display: flex; justify-content: center; }

body { display: flex; min-height: 100vh; flex-direction: column; }

footer { padding: 10px 22px; }
